<h1> HI {{title}} welcome to Angular</h1>
<!-------Interpolation and Style binding----->
<!-- <h1 [style.color]="flag?'blue':'green'"> value is {{value}}</h1>
<!--class Binding
<h2 [class.blink]="flag">Winners never Quit and Quitters never win</h2> -->

<!-- <form>
  property binding 
  <input type="text" name="name" placeholder="enterthe name" [disabled]="valueDisabled">
  <!--event binding
  <button type="submit" (click)="submit()">Submit</button>
</form> -->
<!--ngFor-->
<!-- <ul *ngFor="let  technologies of technology;index as i;">
<ng-container *ngIf="i<4">
  <li>{{technologies}}</li>
</ng-container> 

</ul>-->

<!--to way Binding -->
<!-- <div class="form-group col-md-3">
  <input type="text" class="form-control" name="answer" placeholder="enter the correct answer" [(ngModel)]="answer">

</div>
{{answer}} -->
<!--ngIf-->
<!-- <div *ngIf="answer">
  <div *ngIf="answer==='20'; then ifBlock else elseBlock"></div>
  <ng-template #ifBlock>
    <h2>Correct Answer</h2>
  </ng-template>
  <ng-template #elseBlock>
    <h2>Wrong Answer</h2>
  </ng-template>
</div> -->
<!-- <div class="form-group col-md-3">
  <label>Gender</label>
  <select class="form-control" name="gender" id="" [(ngModel)]="gender">
    <option value="Female">Female</option>
    <option value ="Male">Male</option>
    <option value ="other">other</option>
  </select>
</div> -->
<!--ng Switch Case----->
<!-- <div *ngIf="gender">
<div [ngSwitch]="gender">
  <div *ngSwitchCase="'Male'">The Gender is Male</div>
  <div *ngSwitchCase="'Female'">The Gender is Female</div>
  <div *ngSwitchDefault>The Gender is not choosen properly</div>
</div>
</div> -->
<!-----------------Attribute Directive----------------------->
<!-- <h1 appAttribute>Hi hello how are you :)</h1> -->
<app-header></app-header>
